body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

.app {
  text-align: center;
  padding-top: 80px;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #222;
  color: white;
}

.weather-box {
  margin-top: 30px;
  background: white;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}

.error {
  color: red;
  margin-top: 20px;
}

